{% extends 'base_header_footer.html.twig' %}

{% block title %}ChemicalBrothers{% endblock %}

{% block content %}
    <div class="container page-content">
        Le site est en cours de construction
    </div>
{% endblock %}
