{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}


{% block body %}

<body class="d-flex align-items-center justify-content-center" style="background: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');">
    <main class="form-signin w-25 m-auto p-5 card">
        <h1 class="text-center mb-4">Réinitialisation du mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary mt-3 w-100">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </main>
</body>
{% endblock %}
