{% extends 'base_admin.html.twig' %}

{% block title %}Admininstration{% endblock %}

{% block body %}

    <h1>Administration</h1>
    <p>Bienvenue sur la page d'administration</p>
    <p>Ici, vous pouvez gérer :</p>
    <ul>
        <li>Les produits</li>
        <li>Les accès aux produits</li>
        <li>Les utilisateurs</li>
    </ul>
    
{% endblock %}
