<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/5233999e8c.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-5">
                        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="40" height="32">
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="#" class="nav-link px-2 link-secondary">Accueil</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-2 link-body-emphasis">Produits</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-2 link-body-emphasis">FDS</a>
                        </li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin') }}"><i class="fa-solid fa-lock me-2"></i>Interface Admin</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item text-danger" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Se déconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="40" height="32">
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 ChemicalBrothers, Inc</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#">
                            <img src="https://1000logos.net/wp-content/uploads/2017/02/insta-logo.png" alt="" width="24" height="24">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#">
                            <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="" width="24" height="24">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#">
                            <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" alt="" width="24" height="24">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>


    </body>
</html>
